<mat-card>
  <input  value="{{nums}}" id=input disabled>
  <span>C A S I O</span>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="item">
      <button (click)="off('input')">OFF</button>
      <button (click)="percent()">%</button>
      <button (click)="sqrt()">√</button>
      <button  id=clear (click)="resetc()"  class="cancel">C</button>
      <button  (click)="reset('input')" class="cancel">AC</button>
    </div>

    <div class="item">
      <button id=memory (click)="memory()">MR</button>
      <button id="7" class="number" (click)="numb(7)">7</button>
      <button id =4 class="number" (click)="numb(4)">4</button>
      <button id =1 class="number" value="1" (click)="numb(1)">1</button>
      <button id =0  (click)="numb(0)" class="number">0</button>
    </div>

    <div class="item">
      <button id=memory (click)="mems()">M-</button>
      <button class="number" id =8  (click)="numb(8)">8</button>
      <button class="number" id =5  (click)="numb(5)">5</button>
      <button class="number" id =2  (click)="numb(2)">2</button>
      <button class="number" id =11  (click)="numb(11)">.</button>
    </div>

    <div class="item">
      <button id=memory (click)="memp()">M+</button>
      <button class="number"id =9  (click)="numb(9)">9</button>
      <button class="number" id =6  (click)="numb(6)">6</button>
      <button class="number" id =3  (click)="numb(3)">3</button>
      <button id="equals" (click)="equals()">=</button>
  </div>

  <div class="item">
    <button (click)="divide()">/</button>
    <button (click)="multiply()">x</button>
    <button (click)="subtract()">-</button>
    <button class="add" (click)="add()">+</button>
  </div>

  </div>
</mat-card>